<%= stylesheet_link_tag 'application'%>
<body class="doubt-body">
<div class="container">
	<div class="inline-container inline-doubt-text">
		<img src="/assets/coding_ninja.svg" width="50px;" height="30px;">
		<%=link_to "Home", "/"%>  |  <%=link_to "Raise Doubt", questions_path%>
	</div>
	<div class="logout">
		<span class="logout">Logout</span>
	</div>
</div>
<div class="doubt">
	<div class="inline-doubt">
		<span class="inline-doubt-text">Raise Doubt</span>
		<div class="inline-doubt-container">
			<form action="<%=questions_ask_doubt_path%>" class="form" method="post">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<div class="form-field">
					<div class="label">Title</div>
					<input class="field" name="title" type="text" placeholder="Title" value="<%=params[:title]%>"></input>
				</div>
				<div class="form-field">
					<div class="label">Description</div>
					<input class="field" type="text" placeholder="Description" name="description" value="<%=params[:description]%>"></input>
				</div>
				<div class="submit">
					<input type="submit" class="button" value="Ask Doubt">
				</div>
			</form>
			
		</div>
	</div>
</div>
<%if params[:error_message].present?%>
	<div class="error"> <%=params[:error_message]%></div>
<%end%>
</body>